body {
    margin: px;
    background: url(../img/topo.jpg);
    backgroumd-attachment: scroll;
    background-position: top center;
    background-repeat: repeat: repeat-x;
    background-color: #FFF;
    font-family: 'Roboto', sans-serif;
}


/*  general Styles */

h{
    font-family: 'Fjalla One', sans-serif;
    color: #ff9000;
    text-transform: uppercase;

}
h2{
    font-family: 'fJALLA oNE', SANS-SERIF;
    COLOR: #FF9000;
}

